API_ID=21712684
API_HASH=083a37e9902c8719c29b57804c5a8bb4
BOT_TOKEN=5531925252:AAHwciM5nFPK8XQTNv3Wcf2abNiJYNC5H2Q
LOGGER_ID=-1001888529655
MONGO_DB_URI=mongodb+srv://xMiHiR:print('MK13')@thealtron.1kcwalf.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=6572058769
STRING_SESSION=BQFLTywAo3uVAWp3dpjgv8XeW02BDkTwem3el8EFiK-lBM3-E4_zWyVE7Pfyr_cAteBjgrH0Y7A6uUU6dlqeZ2a1PKbsygdth4bJKOYrTNUn5nWEBYjgKC2AyjNGR5LKo0bcrhM5atB5aZPQS9tqTxZBrAhx4sWwTUVpoyAZtLed-k-v4AdpjlaElNX88WgcRsIbK41URQZnB5iRd4fzacroZUq7xcAmePJ2u5pwGxT6MwtaJI_mTeVV2Jd67R623ts9Im7Rru4y9EilPHBgOFnsjHdChI35UgdzuXlnBcaziQA-wpealGGYsbrEpYA4EgnMEVJojfYh5AC8MZmDt8ol0Zcs5wAAAAFpmk-ZAA
STRING_SESSION2=BQFLTywAwdnNHPd3O1YK1Rd34gdwHNzdiYVAGntTwjWUONgupsZ56-_ThCXlnvV21n_wOyyLVx8M1pRnEY4mvV0syoIvxKh5AmYX-EkMH1pHi5LG_8nq9ox4VuQ3XG6EvJ92JGcmtIXyrF0DdMzrPgpovi8vDUiscM4cjfFVqDs9HBuBF7zQqIwz1n8XmljHZs4nZYxcMJ_inxGrVDsXn_4Yr-cEFzcTEVhI34x3HDiSYDVC7uyN6ZKuNzsFbSPTIM5Secb99y2oqoRUODTBLO6ali5ZnW1t8tE7taYdnKvhv7zSItTGrRX8KLm1bjYEMa6b42EDKo4frJwdA_qkF8kFN9ivvwAAAAF0nU4pAA
STRING_SESSION3=BQFLTywAhhvW4ROFiiGGH_HXbM515Sxeg4vqZwepREcMQzef3_obKA1_Ms32DFwusTJtK1jKc9TC9R5CxTTm6mjDbaycg1jsav-JSsqchxKLWm-1fa8nxi29-AbwtkDpumMeFSeS7_b5u_5wu67nWyqecv-584bOGSNHSWZm8NYi7w3xDEAzAQ1xqeiw1WMMAXiUO-kqRUWN7aq0UeJAbsSLl3xrBwIbBeIMkbOoo7xK_MCnDXrhj57V_dzOLfLJN7pcPB5QkXsoy8Vk22Y099EGbmTxDiFB1LIytJ1Kw0BWU9DVgE_CPUb6W57lcEiuI13CEOfzTT1lzRVlYBw04Akn2R3xyQAAAAF2qTx-AA
STRING_SESSION4=BQFLTywAEZz4HgcXkfLidXMpvmrtSlKKGnm6wpko0FCs-ZuUFd23pYPkBresZavmlSec3Z2od9ewWetHSVu_0wPVJshS9W-2mNJCw28q3dg6geb9A9TROJ4iKWQfbeXCqrsziS7jtZr_5J6D18ssaknG7DAYmr68VQdWcR30q2bExcwdT_oAzB4XDTtbex2tnRiwX6iLk1DtLsW5A_Y2E64TYdlwHD4k1fK7DmXUOD9_KfZ9jVH_Vw1muoMovA5qzQcgGaiQV02zmOOQb7_j93HxZRq30WwyMou5rHbII1F9lRbwCG0KOp4hH4khepw_gTZ4Ntol0SgTC8lj4cTuMmaEDYu49QAAAAGUj6RZAA
STRING_SESSION5=BQFLTywArMm8TpZWgcmGdnT-dFW8jmiJwcVEaJwqZKJyWuMzJjAhyvJBdqexE_N0DdQ6bVLqzST2Ktdorbl4vJzxk4hXgN6tanySgiD5jsMjXpNiptUWmIQe9fh6WYWcyNmVM1CJ3s-6Ie9UGy13h48kcJanDFCfi12xSGN2CVNzepOy5dhOU7qVdNNNiaCfFOFvPPF3GmEfOttr-WIwQREJk48YrF-G5IoA-cyxOFPSL6UHwNmWUsidIIg6zu6gKzb07tWo1GiKcru_pG-w6yr49KG5EWpk8NMh7p2knxsyPMyiahb9Q7Vb22KJiKRcNgB4qay4qWSQT9UvlK2QZfVpJbp32AAAAAGSMNyNAA
DURATION_LIMIT = 300
